<body>
    <div id='myDiv'></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        
        function unpack(rows, key) {
            return rows.map(function(row) { 
                return row[key];
            }).map( function(value){
                return parseFloat(value);
            });
        }
        
        Plotly.d3.csv("../easywave/eWave.poi.ssh", function(err,rows){
            Plotly.d3.json('../tsunamilab/pois (6)', (err, json) => {
                let traces = {};
                Object.keys(rows[0]).forEach((key,index)=>{
                    if(key=='Minute') return;
                    
                    Plotly.d3.csv( `../data/${key}.txt`, (err, csv)=>{
                        
                        let data = [];
                        data.push({
                            x: unpack(rows, 'Minute'),
                            y: unpack(rows, key),
                            mode: 'lines',
                            name: 'easywave'
                        });
                        console.log(Object.keys(json), key);
                        data.push({
                            x: json[key].time.map((val)=>{return val/60}),
                            y: json[key].surface,
                            mode: 'lines',
                            name: 'nami'
                        });
        
                        data.push({
                            x: unpack(csv,'# time').map(val=>val*24*60),
                            y: unpack(csv, 'height').map(val=>val/100),
                            mode: 'lines',
                            name: 'meas'
                        });

                        let layout = {
                            title: key,
                            xaxis: {
                                range: [ 0, 180 ]
                            },
                        }

                        if(key==='tsunamiDART32401'){
                            layout.yaxis = {range:[-0.01/4,0.01/4]}
                        }
                        
                        let div = document.createElement('div');
                        div.id = `div${index}`;
                        document.body.appendChild(div);
        
                        
                        Plotly.newPlot(div.id, data, layout);
                    });

                });
            });
            
            

            
        });

    </script>
</body>